<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<br />
<div class="row">
  <button type="submit" class="package col-md-4"><img src="../../images/icons/back icon_orange.png">Back</button>
  <div class="col-md-4">
    <button type="submit" class="package col-md-6">Packages</button>
    <button type="submit" class="default-package col-md-6">Account</button>
  </div>
  <div class="offset-md-1 col-md-3">
    <input class="search form-control" placeholder="What are you looking for ?">
    <button class="search-button btn btn-secondary" type="button">
      <i class="fa fa-search"></i>
    </button>
  </div>
</div>
<div class="row">
  <button type="submit" class="package col-md-3">Hospitalization</button>
  <button type="submit" class="package col-md-3">Family Health</button>
  <button type="submit" class="package col-md-3">Daily Cash</button>
  <button type="submit" class="package col-md-3">Critical illness</button>
</div>
<div class="row col-md-6 offset-9 align-right">
  <button type="submit" class="package col-md-2">Compare</button>
  <button type="submit" class="package col-md-2">Icon</button>
</div>
<div class="container col-md-12">
  <div class="row">
    <button type="submit" class="package col-md-3">Image here</button>
    <button type="submit" class="package col-md-3">Learn more</button>
    <button type="submit" class="package col-md-3">Get quote</button>
    <button type="submit" class="package col-md-3">+</button>
  </div>
  <div class="row">
    <button type="submit" class="package col-md-3">Image here</button>
    <button type="submit" class="package col-md-3">Learn more</button>
    <button type="submit" class="package col-md-3">Get quote</button>
    <button type="submit" class="package col-md-3">+</button>
  </div>
  <div class="row">
    <button type="submit" class="package col-md-3">Image here</button>
    <button type="submit" class="package col-md-3">Learn more</button>
    <button type="submit" class="package col-md-3">Get quote</button>
    <button type="submit" class="package col-md-3">+</button>
  </div>
  <div class="row">
    <button type="submit" class="package col-md-3">Image here</button>
    <button type="submit" class="package col-md-3">Learn more</button>
    <button type="submit" class="package col-md-3">Get quote</button>
    <button type="submit" class="package col-md-3">+</button>
  </div>
  <div class="row">
    <button type="submit" class="package col-md-3">Image here</button>
    <button type="submit" class="package col-md-3">Learn more</button>
    <button type="submit" class="package col-md-3">Get quote</button>
    <button type="submit" class="package col-md-3">+</button>
  </div>
  <div class="row">
    <button type="submit" class="package col-md-3">Image here</button>
    <button type="submit" class="package col-md-3">Learn more</button>
    <button type="submit" class="package col-md-3">Get quote</button>
    <button type="submit" class="package col-md-3">+</button>
  </div>
  <div class="row">
    <button type="submit" class="package col-md-3">Image here</button>
    <button type="submit" class="package col-md-3">Learn more</button>
    <button type="submit" class="package col-md-3">Get quote</button>
    <button type="submit" class="package col-md-3">+</button>
  </div>
  <div class="row">
    <button type="submit" class="package col-md-3">Image here</button>
    <button type="submit" class="package col-md-3">Learn more</button>
    <button type="submit" class="package col-md-3">Get quote</button>
    <button type="submit" class="package col-md-3">+</button>
  </div>
  <div class="row">
    <button type="submit" class="package col-md-3">Image here</button>
    <button type="submit" class="package col-md-3">Learn more</button>
    <button type="submit" class="package col-md-3">Get quote</button>
    <button type="submit" class="package col-md-3">+</button>
  </div>
  <div class="row">
    <button type="submit" class="package col-md-3">Image here</button>
    <button type="submit" class="package col-md-3">Learn more</button>
    <button type="submit" class="package col-md-3">Get quote</button>
    <button type="submit" class="package col-md-3">+</button>
  </div>
</div>