<nav class="nav">
    <ul>
      <li><a class="nav-link" [routerLink]="['/About Us']" routerLinkActive="active">User Details</a></li>
      <li><a class="nav-link" [routerLink]="['/calendar']" routerLinkActive="active">Dependences</a></li>
      <li><a class="nav-link" [routerLink]="['/blog']" routerLinkActive="active">Password</a></li>
      <li><a class="nav-link" [routerLink]="['/gallery']" routerLinkActive="active">Email</a></li>
      <li><a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Phone Number</a></li>
      <li><a class="nav-link" [routerLink]="['/our team']" routerLinkActive="active">Payment Details</a></li>
    </ul>
  </nav>
  <br />
  <div class="form">
    <p>CHANGE PASSWORD</p>
    <div class="row">
      <input type="email" class="form-control" placeholder="CURRENT PASSWORD ">
    </div>
    <div class="row">
      <input type="email" class="form-control" placeholder="NEW PASSWORD ">
    </div>
    <div class="row">
      <input type="email" class="form-control" placeholder="CONFIRM PASSWORD ">
    </div>
    <br />
    <div class="row">
      <div class="col-md-4">
        <button class="form-control" type="submit">SAVE</button>
      </div>
      <div class="col-md-4">
  
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
